<p>Add your own brightcove player in <em>embeddable/partials/_brightcove.html.erb</em></p>
<p><strong>Params are:</strong></p>
<ul>
  <li><strong>id:</strong> the video id</li>
  <li><strong>width:</strong> the width of the video player</li>
  <li><strong>height:</strong> the height of the video player</li>
</ul>
<p><strong>Check the readme for example</strong></p>
